
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- News Tab -->
  <ion-tab title="News" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/news-article-list">
    <ion-nav-view name="tab-news-view"></ion-nav-view>
  </ion-tab>

  <!-- Category Tab -->
  <ion-tab title="Themen" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/categories">
    <ion-nav-view name="tab-categories-view"></ion-nav-view>
  </ion-tab>

  <!-- Shop Tab -->
  <ion-tab title="Aktionen" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/shop">
    <ion-nav-view name="tab-shop-view"></ion-nav-view>
  </ion-tab>
  
    <!-- Optionen Tab -->
  <ion-tab title="Optionen" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/options">
    <ion-nav-view name="tab-options-view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
